<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastre-se </title>
</head>
<body>
    <h1>Bem vindo ao Escambo, a sua plataforma de permutas e vendas! </h1>
    <h2>Como funciona? </h2>
    <h3>1. Você faz o seu cadastro na plataforma</h3>
    <h3>2. Procura pelos produtos ou serviços que está precisando</h3>
    <h3>3. Quando encontrar, direto com quem está oferecendo o que você precisa, chegando a um acordo que seja bom para os dois lados.</h3>
    <h2>Ainda não tem cadastro? Cadastre-se aqui: </h2>
    <form>
        <div>
        <label>Nome Completo:</label>
        <input type="text" >
        </div>
        <div>
        <label> Email: </label>
        <input type='email'>
        </div>
    </form>
    <a href='localhost:3000/login'>
     Já tem cadastro? Faça Login Aqui
    </a>
    
</body>
</html>