<!DOCTYPE html>
<html>

<head>
    <title>Escambo</title>
    <link rel='stylesheet' href='/stylesheets/index.css' />
</head>
<header>
    <%- include('../public/partials/header') %>
</header>

<body>
    <main class="container">
      
     <h1 class="Bem-Vindo"> Seja Bem-Vindo ao Escambo sua plataforma de trocas</h1>
        <h4>Como Funciona ?</h4>
        <p>
           <div>1 - Você faz seu cadastro na plataforma</div> 
           <div>2 -  Procura pelos produtos ou serviços que está precisando</div>
            <div>3 - Quando encontrar é só falar direto com quem está oferecendo</div>
                <div>4 - Chegue a um acordo que seja bom para os dois lados e pronto</div>
        </p>
        <h5>Ainda não se cadastrou?</h5>
        <a class="btn btn-success " href="/users/cadastro">Cadastre-se</a>
    </main>
    <%- include('../public/partials/footer') %>
</body>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

</html>