<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/create.css" />
    <title>Cadastro de Produto</title>
</head>

<body>
    <%- include('../public/partials/header') %>
        <main class="container">
            <% if (errorMessage) { %>
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    <strong>Erro!</strong>
                    <%= errorMessage %>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <% } %>
                    <%if (sucessMessage) { %>
                        <div class="alert alert-primary" role="alert">
                            <strong>Parabéns!</strong>
                            <%= sucessMessage %> <a href="/products" class="alert-link">Ir para listagem de produtos.</a>
                                <div class=""></div>
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                        </div>
                        <% } %>
                            <section class="container-phrases titulo">
                                <h1>Cadastre seu produto</h1>
                                <h4>“Ganhar não é a coisa mais importante do mundo. Mas querer ganhar é.”</h4>
                            </section>
                            <form  action="/products" method="POST" enctype="multipart/form-data">
                                <section>
                                        
                                    <div class="preview" id="preview">
                                        <img src="" class="imagePreview" >
                                        <span class="imagePreview-defaultText" >Image preview</span>
                                    </div>
                                    
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
                                    </div>
                                    <div class="custom-file">
                                        <input type="file" class="custom-file-input" name="photoProduct" id="photoProduct" aria-describedby="inputGroupFileAddon01" >
                                        <label class="custom-file-label" for="inputGroupFile01">Escolher arquivo </label>
                                    </div>
                                </div>
                                </section>
                                <section>
                                    
                                    <div class="class= container-fields ">
                                        <label for="nameProduct" id="" class="form-label"><h4>Nome:</h4></label>
                                        <input type="text " name="nameProduct" id="nameProduct" placeholder="Digite aqui o nome do produto ou serviço que você está anunciando " class="form-control " required>
                                    </div>
                                    <div class="container-fields">
                                        <h4>Descrição:</h4>
                                        <label for="descriptionProduct" id="" class="form-label"></label>
                                        <textarea required name="descriptionProduct" id="descriptionProduct" cols="40 " rows="5 " placeholder="Digite aqui a descrição do produto ou serviço que você está anunciando " class="form-control "></textarea>
                                    </div>
                                    <div class="container-fields">
                                        <h4>Unidades:</h4>
                                        <label for="un" id="" class="form-label"></label>
                                        <input type="number" name="und" id="" placeholder="Digite aqui a quantidade que você tem desse produto " class="form-control " required>
                                    </div>
                                    <div class="container-fields">
                                        <h4>Tipo de produto:</h4>
                                        <label for="type" id="" class="form-label "></label>
                                        <select class="form-control" name="type">
                                            <option selected disabled>Selecione o tipo do produto</option>
                                            <option>Digital</option>
                                            <option>Físico</option>
                                          </select>
                                        
                                    </div>
                                    <div class="container-fields ">
                                        <h4>Categoria do Produto:</h4>
                                        <label for="category" id="" class="form-label "></label>
                                        <select class="form-control" name="category">
                                            <option selected disabled>Selecione a categoria do produto</option>
                                            <option>Alimentos e Bebidas</option>
                                            <option>Automotivo</option>
                                            <option>Celulares e Comunicação</option>
                                            <option>Computadores e Informática</option>
                                            <option>Cozinha</option>
                                            <option>Eletrônicos, TV e Áudio</option>
                                            <option>Esportes, Aventura e Lazer</option>
                                            <option>Ferramentas e Construção</option>
                                            <option>Filmes, Séries e Música</option>
                                            <option>Games e Consoles</option>
                                            <option>Livros</option>
                                            <option>Papelaria e Escritório</option>
                                            <option>Pet Shop</option>
                                            <option>Roupas, Calçados e Acessórios</option>
                                          </select>
                                    </div>
                                    <div>
                                </section>
                                <section>
                                    <div class="container-radio-buttons ">
                                        <h4 class="container-fields">Aceito em troca:</h4>
                                        <input type="radio" id="cash||service " name="payment" value="Dinheiro ou Permuta " class="form-check-label " required>
                                        <label for="cash||service ">Dinheiro, produto ou serviço - tanto faz!</label><br>
                                        <input type="radio" id="cashonly" name="payment" value="Apenas Dinheiro " class="form-check-label ">
                                        <label for="cashonly">Somente dinheiro</label><br>
                                    </div>
                                    <div class="container-fields">

                                        <h4>Preço:</h4>
                                        <label for="price" id=""></label>
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                              <span class="input-group-text">R$</span>
                                            </div>
                                            <input type="number" class="form-control" name="price" id="" placeholder="Digite aqui o preço do produto" min="0" step=".01" required>
                                        </div>
                                    <br>
                                </section>
                                <section>
                                    <button type="submit" class="btn btn-custom">Publicar Anúncio</button>
                                </section>
                            </form>
        </main>
        <%- include('../public/partials/footer') %>
            <script src="/javascript/productsCreate.js"></script>
            <link rel="stylesheet " href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css " integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T " crossorigin="anonymous ">
            <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js " integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo " crossorigin="anonymous "></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js " integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1 " crossorigin="anonymous "></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js " integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM " crossorigin="anonymous "></script>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js "></script>
</body>

</html>