<!DOCTYPE html>
<html>
  <head>
    <title>pagina de produtos</title>
    <link rel="stylesheet" href="/stylesheets/list.css" />
  </head>
  <body>
      <h1>Listagem de produtos</h1>
      <br>
      <div class="container">
      <% products.forEach(function(product) { %>
     <li>
          <img src = "/images/imagehere.jpeg" class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"></rect></img>
         
          <h2><%=product.nameProduct %></h2>
           
    <a href="/products/<%= product.id%>" class="btn btn-primary">Detalhes</a>
    <%}) %>
    
     </li>
        </div>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
      crossorigin="anonymous"
    ></script>
  </body>
</html>