<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de Produto</title>
</head>

<body>
    <%- include('../public/partials/header') %>
        <main class="container">
            <% if (errorMessage) { %>
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    <strong>Erro!</strong>
                    <%= errorMessage %>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <% } %>
                    <%if (sucessMessage) { %>
                        <div class="alert alert-primary" role="alert">
                            <strong>Parabéns!</strong>
                            <%= sucessMessage %> <a href="/products" class="alert-link">Ir para listagem de produtos.</a>
                                <div class=""></div>
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                        </div>
                        <% } %>
                            <section class="container-phrases">
                                <h1>Tela de cadastro de produtos</h1>
                                <h4>Frase bonitinha pra incentivar o usuário a cadastrar o produto</h4>
                            </section>
                            <form action="/products" method="POST">
                                <section>
                                    <div class="container-image">
                                        <img src="/images/imagehere.jpeg" alt="">
                                    </div>
                                    <input type="file" name="photoProduct">
                                </section>
                                <section>
                                    <div>

                                        <label for="id" id="id" class="form-label"><h4>ID:</h4></label>
                                        <input type="number" name="id" id="id" placeholder="Digite aqui o id do seu produto" class="form-control" required>
                                    </div>
                                    <div class="container-name-description">

                                        <label for="nameProduct" id="" class="form-label"><h4>Nome:</h4></label>
                                        <input type="text" name="nameProduct" id="nameProduct" placeholder="Digite aqui o nome do produto ou serviço que você está anunciando" class="form-control" required>
                                    </div>
                                    <div>
                                        <h4>Descrição:</h4>
                                        <label for="descriptionProduct" id="" class="form-label"></label>
                                        <textarea required name="descriptionProduct" id="descriptionProduct" cols="40" rows="5" placeholder="Digite aqui a descrição do produto ou serviço que você está anunciando" class="form-control"></textarea>
                                    </div>
                                    <div>
                                        <h4>Unidades:</h4>
                                        <label for="un" id="" class="form-label"></label>
                                        <input type="number" name="un" id="un" placeholder="Digite aqui a quantidade que você tem desse produto" class="form-control" required>
                                    </div>
                                    <div>
                                        <h4>Tipo de produto:</h4>
                                        <label for="type" id="" class="form-label"></label>
                                        <input type="text" name="type" id="type" placeholder="Digite o tipo de produto" class="form-control" required>
                                    </div>
                                    <div>
                                        <h4>Categoria do Produto:</h4>
                                        <label for="category" id="" class="form-label"></label>
                                        <input type="text" name="category" id="category" placeholder="Digite aqui a categoria do produto" class="form-control" required>
                                    </div>
                                    <div>
                                </section>
                                <section>
                                    <div class="container-radio-buttons">
                                        <h4>Aceito em troca:</h4>
                                        <input type="radio" id="cash||service" name="anuncio" value="Dinheiro ou Permuta" class="form-check-label" required>
                                        <label for="cash||service">Dinheiro, produto ou serviço - tanto faz!</label><br>
                                        <input type="radio" id="cashonly" name="anuncio" value="Apenas Dinheiro" class="form-check-label">
                                        <label for="cashonly">Somente dinheiro</label><br>
                                    </div>
                                    <div>
                                        <h4>Preço:</h4>
                                        <label for="price" id=""></label>
                                        <input type="text" name="price" id="price" placeholder="Digite aqui o preço do produto" class="form-control">
                                    </div>
                                    <br>
                                </section>
                                <section>
                                    <button type="submit" class="btn btn-primary">Publicar Anúncio</button>
                                </section>
                            </form>
        </main>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</body>

</html>