.title {
    color: black;
    margin-top: 50px;
    padding-bottom: 20px;
}

div {
    color: gray;
}

.container {
    column-count: 2;
    column-width: 100%;
    column-gap: 50px;
    display:inline-flexbox;
    height: 100%; 
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.photoProduct{
    align-content:center;
    flex: 0 0 500px;
}

.details{
    align-content:center;
    column-width: 50%;
}

.details label{
    font-weight: bold;
}

button.btn-custom {
    background-color: gray;
    color: aqua;
    font-weight: 700;
    margin-top: 50px;
}
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
        
        
}


.WhatsApp{
    height: 50px;
    vertical-align: middle;
}

.buttons{
    display: flex;
}

.buttons button{
    margin: 10px;
}