.title {
    color: black;
    margin-top: 50px;
    padding-bottom: 20px;
}

div {
    color: gray;
}

.container {
    column-count: 2;
    column-width: 50vh;
    column-gap: 50px;
    display:flexbox;
}

.photoProduct{
    align-content:center;
    column-width: auto;
}

button.btn-custom {
    background-color: gray;
    color: aqua;
    font-weight: 700;
    margin-top: 50px;
}
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
        
        
}
.details label {
    font-weight:bold;
}